<div style="min-height: 91vh; padding: 30px;" *ngIf="questions">

    <div>
        <div class="container">
            <h1>My Questions</h1>
            <ng-container *ngIf="questions.length === 0; else questionList">
                <mat-card class="empty-message">
                    <mat-card-content>
                        <mat-icon>sentiment_dissatisfied</mat-icon>
                        <p>No questions found.</p>
                    </mat-card-content>
                </mat-card>
            </ng-container>

            <ng-template #questionList>
                <div class="child" *ngFor="let question of questions">
                    <h2 class="question-title">
                        <a routerLink="/user/question/{{question.id}}">{{question.title}}</a>
                    </h2>
                    <div class="question-content">
                        <p>{{question.body}}</p>
                        <div class="tags-container">
                            <mat-chip-listbox>
                                <mat-chip color="primary" *ngFor="let tag of question.tags">{{tag}} </mat-chip>
                            </mat-chip-listbox>
                        </div>
                        <hr>
                        <h5>
                            Posted By: <b>{{question.username}}</b> -
                            Posted On: <b>{{question.createdDate | date: ' dd , MM , YYYY '}}</b>
                        </h5>
                    </div>
                </div>
            </ng-template>
            <div class="pagination">
                <mat-paginator [length]="total" [pageIndex]="pageNumber" [pageSize]="5"
                    (page)="pageIndexChange($event)"></mat-paginator>
            </div>
        </div>
    </div>
</div>