<div class="signup-container">
    <mat-card class="signup-card">
        <mat-card-content>
            <h2 class="signup-caption">Login</h2>
            <form [formGroup]="loginForm">
                <div class="form-input">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Enter your email" name="email" type="email" required
                            formControlName="email" />
                    </mat-form-field>
                </div>
                <div class="form-input">
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Enter your password" name="password" type="password" required
                            formControlName="password" autocomplete="new-password" />
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary" class="signup-button" (click)="login()"
                    [disabled]="loginForm.invalid">
                    Login
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>